
.m1{
color:black;
text-align:center;
background-color:red;
text-decoration:underline
}
.m2{
text-transform:uppercase;
background-color:green;
font-size:20px;
}
img{
border-radius:50% 50% 0% 0%;
float:left;
margin-right:30px;
}
p.mp4{
text-decoration:underline;
indent:15 px
}